#todo-selection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#todo-1-container, #todo-2-container, #todo-3-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
}

#first,
#second,
#third {
    margin-right: 10px;
    margin-left: 7px;
    opacity: 0.9;
    cursor: pointer;
}

.checkbox {
    padding: 20px;
}

.start-container {
    display: flex;
    flex-direction: column;
}

.reset-todo-button {
    width: 65px;
    height: 65px;
    display: flex;
    border-width: 1px;
    border-radius: 50%;
    border-color: rgb(255, 126, 64);
    background-image: radial-gradient(rgb(243, 198, 75), rgb(194, 109, 75));
    background-color: orange;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(182, 95, 95, 0.3);
    font-weight: bold;
    font-size: 15px;
    color: rgba(20, 20, 20, 0.9);
    cursor: pointer;
}

.reset-todo-button:active {
    background-image: radial-gradient(rgb(243, 198, 75), rgb(197, 172, 101));
}

/* Add padding-bottom to the paragraph */
#top3-todo-buton-text {
    padding-bottom: 1px;
    white-space: pre; /* Ensure that newline characters are preserved */
}

#weekday-display {
    width: 50px;
    height: 20px;
    display: flex;
}

#date-display {
    width: 85px;
    height: 20px;
    display: flex;
}

#week-display-container {
    display: flex;
    flex-direction: row;
}

#week-display {
    height: 20px;
    display: flex;
    margin-bottom: 12px;
    padding-right: 0.2rem;
}

.todo-input-v2 {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(243, 239, 239);
}

#todo-select {
    border-radius: 5px;
    margin-left: 1px;
    padding: 4px;
    background-color: rgb(243, 239, 239);
    color: black;
    cursor: pointer;
}

.add-button-v2 {
    width: auto;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 5px;
    flex-direction: row;
    border: 1px solid rgb(82, 82, 82);
    background-color: rgba(79, 129, 115, 0.815);
    color: rgb(207 207 207);
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.comment {
    font-size: 12px;
}

#top-3-info-header {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 20px;
}

#todos-desc {
    margin-top: 10px;
}

#info-symbol {
    display: flex;
    align-items: center;
    padding-left: 5px;
    transform: scale(1.2);
}

#app-info {
    margin-top: 0px;
    margin-bottom: 0px;
}

#toggle-link {
    display: flex;
    align-items: center;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
    .comment {
        font-size: 12px;
    }
}

/* Computer screens and larger (start) */
@media screen and (min-width: 1024px) {
    #main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-section-wrapper {
        width: 55%;
        display: flex;
        flex-direction: column;
    }

    .checkbox {
        transform: scale(1.75);
    }
}

/* Tablets and larger screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-section-wrapper {
        width: 55%;
        display: flex;
        flex-direction: column;
    }

    .checkbox {
        transform: scale(1.1);
    }
}
/* Tablets and larger screens (end) */

/* Mobile screens */
@media screen and (max-width: 767px) {
    .checkbox {
        transform: scale(1.1);
    }
}






